# Ignore Visual Studio Code files
**/.vscode/

# Ignore Eclipse files
**/.classpath
**/.project
**/.settings/

# Ignore NetBeans files
**/nbproject/

# Ignore Maven Wrapper
**/mvnw
**/mvnw.cmd
**/.mvn/

# Ignore Maven files
**/target/

# Ignore Java class files
**/.class

# Ignore Gradle Wrapper
**/gradle/wrapper/gradle-wrapper.jar
**/gradle/wrapper/gradle-wrapper.properties

# Ignore Gradle files
**/.gradle/

# Ignore IntelliJ files
**/.iml
**/.ipr
**/.iws
**/.idea/

# Ignore build files
**/build/
**/out/

# Ignore log files
**/.log

# Ignore macOS files
**/.DS_Store

# Ignore Windows files
**/Thumbs.db
**/ehthumbs.db

# Ignore Linux files
**/lost+found/

# Ignore temporary files
**/.tmp
**/.temp
**/.bak
**/.swp
**/~

src/resources/dataFiles/April_Dashboard_Data.xlsx
src/resources/dataFiles/February_Dashboard_Data.xlsx
src/resources/dataFiles/January_Dashboard_Data.xlsx
src/resources/dataFiles/March_Dashboard_Data.xlsx

target/classes/com/dashboard/data/ExcelParser.class
target/classes/com/dashboard/graphics/shapes/ShapeFactory.class
target/classes/com/dashboard/ui/DashboardPanel.class
target/classes/com/dashboard/ui/Toolbar.class

